%copy-and-back-button {
  width: 100px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.color-box {
  flex-basis: 20%;
  display: inline-block;
  position: relative;
  cursor: pointer;

  .copy-button {
    @extend %copy-and-back-button;
  }
}
// SingleColorPalette
.single-color-palette .color-box {
  height: 50%;
}

.single-color-palette .back.color-box {
  background-color: #111;
}

.single-color-palette .back-button {
  @extend %copy-and-back-button;
}
